<div class="contact">
    <div class="contact-container">
        <div class="contact-title-block">
            <div class="section-title-block">
                <div class="section-number-wrap"><span>04</span></div>
                <div class="section-title-wrap">
                    <div class="section-title">contact</div>
                    <!--<div class="section-short-info">contact</div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="contact-content-block">
        <div class="contact-container">
            <div class="contact-wrap">
                <div class="contact-item">
                    <div class="contact-map-block">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2444.0237737420293!2d21.004179215853384!3d52.22478587975949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecced1c25b567%3A0x3402d444ee5cfcf3!2zSG_FvGEgODYsIFdhcnN6YXdhLCDQn9C-0LvRjNGI0LA!5e0!3m2!1sru!2sua!4v1517520480933"
                                frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="contact-map-coordinates">ul. Hoża 86/210, 00-682, Warszava</div>
                </div>
                <div class="contact-item">
                    <div class="contact-item-title">
                        <img src="img/logo-gray.png" alt="">
                    </div>
                    <div class="company-info">
                        Sed ut perspiciatis unde omnis iste natus<br> error sit voluptatem
                    </div>
                    <ul class="social-list">
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
                <div class="contact-item">
                    <div class="contact-item-title">
                        quick links
                    </div>
                    <ul class="quick-list">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Partnership</a></li>
                    </ul>
                </div>
                <div class="contact-item">
                    <div class="contact-item-title">
                        are You ready?
                    </div>
                    <div class="contact-info">
                        <ul class="contact-info-list">
                            <li>Phone: <span>+ 48 733 184 040</span></li>
                            <li>Email: <span>info@ds-holding.pl</span></li>
                        </ul>
                        <div class="sign-block">
                            <div class="sign-title">NEWSLETTER</div>
                            <form action="" class="sign-form">
                                <div class="form-group">
                                    <input type="email" placeholder="Your email address">
                                    <button>sing up</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll-up-block">
                <a href="#" class="scroll-up"><i class="fa fa-angle-up"></i></a>
            </div>
            <div class="copyright-block">
                <div class="copyright-info">
                    Copyright &copy 2018 STEAK LAB / studio design
                </div>
                <div class="copyright-info">
                    Special for <span>DS HOLDING</span>
                </div>
            </div>
        </div>
    </div>
</div>