<div class="page-contact-block">
    <div class="page-contact-header">
        <div class="page-contact-header-title">submit your application</div>
        <form action="" class="page-contact-form">
            <input type="text" placeholder="name">
            <input type="text" placeholder="COMPANY NAME">
            <input type="email" placeholder="Your email address">
            <input type="text" placeholder="phone">
            <textarea name="" id="" rows="5" placeholder="Message"></textarea>
            <div class="button-block">
                <button class="send">send</button>
            </div>
        </form>
    </div>
    <!--<div class="page-contact-footer">-->
        <div class="copyright-block">
            <div class="copyright-info">
                Copyright &copy 2018 STEAK LAB / studio design
            </div>
            <div class="copyright-info">
                Special for <span>DS HOLDING</span>
            </div>
        </div>
    <!--</div>-->
</div>