<div class="menu-visible-block">
    <div class="menu-container">
        <div class="menu-logo-block"><img src="img/logo-orange.png" alt=""></div>
        <div class="menu-button-block"><a href="#" class="menu-show-button"><i class="fa fa-bars"></i></a></div>
        <div class="contact-title-block">
            <div class="section-title-block">
                <div class="section-number-wrap"><span>01</span></div>
            </div>
        </div>
    </div>
</div>
<div class="menu-block">
    <div class="menu-header">
        <div class="menu-title">Menu</div>
        <a href="#" class="menu-close-button"></a>
    </div>
    <div class="menu-body">
        <ul class="menu-list">
            <li><a class='menu-item' href="index.html">HOME</a></li>
            <li><a class='menu-item' href="#">About us</a></li>
            <li><a class='menu-item' href="#">FOR PARTERS</a></li>
            <li><a class='menu-item' href="#">CONTACT</a></li>
        </ul>
    </div>
    <div class="menu-footer">
        <div class="menu-footer-title">If you have any questions<br>You can contact our managers</div>
        <div class="menu-contact-info">
            <p>+ 48 733 184 040</p>
            <p>info@ds-holding.pl</p>
        </div>
    </div>
</div>